{% extends 'main.html' %}

{% block title %}
{{ message.heading }}
{% endblock %}

{% block content %}

<div class="container">
    <div class="alert alert-primary" role="alert">
<h2>{{ message.heading }}</h2>
    </div>

    <div class="alert alert-success">

    <p>{{ message.note }}</p>
    <p><b>{{ message.date.date() }}</b></p>
    <a href="/notes/{{ message.id }}/delete" class="btn btn-danger">Delete</a>
    <a href="/notes/{{ message.id }}/update" class="btn btn-primary">Update</a>
    </div>

</div>

{% endblock %}